[submodule "thirdparty/powerline-fonts"]
	path = thirdparty/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "thirdparty/i3blocks"]
	path = thirdparty/i3blocks
	url = https://github.com/vivien/i3blocks.git
