[submodule "thirdparty/powerline-fonts"]
	path = thirdparty/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "thirdparty/i3blocks"]
	path = thirdparty/i3blocks
	url = https://github.com/vivien/i3blocks.git
[submodule "thirdparty/st"]
	path = thirdparty/st
	url = git://git.suckless.org/st
[submodule "thirdparty/vim-go"]
	path = thirdparty/vim-go
	url = https://github.com/fatih/vim-go
[submodule "thirdparty/vim-python-syntax"]
	path = thirdparty/vim-python-syntax
	url = https://github.com/vim-python/python-syntax
